{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "auto",
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"]
}
