@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Weight range for variable font */
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}